# 2020 midyear progress report on Sioux Falls construction

Resource for July, 2020 story for the Sioux Falls Business Journal/Argus Leader on progress of construction industry during 2020 and the ongoing coronavirus pandemic.

### Import the data

(Import includes 'allpermits' combined table, plus individual years from 2014 on)

In [1]:
import pandas as pd

In [3]:
%run Sioux_Falls_building_permits.ipynb

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77835 entries, 0 to 17416
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          77835 non-null  object
 1   PermitNumber  77835 non-null  object
 2   HouseNumber   77835 non-null  object
 3   Street        77835 non-null  object
 4   Type          77835 non-null  object
 5   Description   76956 non-null  object
 6   Contractor    77794 non-null  object
 7   Value         77835 non-null  float64
dtypes: float64(1), object(7)
memory usage: 3.3+ MB

In [4]:
permits_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8557 entries, 0 to 8556
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          8557 non-null   object
 1   PermitNumber  8557 non-null   object
 2   HouseNumber   8557 non-null   object
 3   Street        8556 non-null   object
 4   Type          8557 non-null   object
 5   Description   8483 non-null   object
 6   Contractor    8554 non-null   object
 7   Value         8557 non-null   float64
dtypes: float64(1), object(7)
memory usage: 300.9+ KB

### Finding the top projects of 2020 (thru June), by value

In [6]:
ranked2020 = permits_2020.sort_values("Value", ascending = False)

In [7]:
ranked2020.head(10)

,Date,PermitNumber,HouseNumber,Street,Type,Description,Contractor,Value
2752,5/20/2020,Permit-CB-162051-2020,3401,S SPARTA AVE,Commercial Building,Sparta Elementry School for the Brandon Valley...,PESKA CONSTRUCTION INC,13200000.0
7681,1/31/2020,Permit-CB-153774-2019,1500,S HIGHLINE AVE,Commercial Building,Capital Services,LLOYD CONSTRUCTION COMPANY,8800000.0
952,6/15/2020,Permit-CB-169528-2020,5150,W FOUNDATION CT,Commercial Building,New Warehouse,EMPIRE BUILDING CONSTRUCTION,7351000.0
5493,3/27/2020,Permit-CB-163997-2020,2101,E BENSON RD,Commercial Building,New Office and Truck Shop -- Boyer Trucks,REYNOLDS CONSTRUCTION MANAGEMENT SERVICES INC ...,6749247.0
3120,5/15/2020,Permit-CB-167154-2020,5900,S GRAYSTONE AVE,Commercial Building,Phase 2 of Whisper Ridge East - This permit is...,SIGNATURE COMPANIES LLC,6194244.0
3330,5/13/2020,Permit-CB-165803-2020,950,S FOSS AVE,Commercial Building,62 UNIT SENIOR APARTMENT,DEVELOPERS & ASSOCIATES INC,5791191.0
3730,5/6/2020,Permit-CB-167409-2020,100,S PHILLIPS AVE,Commercial Building,Exterior Improvements - First National Bank. A...,JOURNEY GROUP COMPANIES,4300000.0
3118,5/15/2020,Permit-CB-167528-2020,5900,S GRAYSTONE AVE,Commercial Building,Phase 2 of Whisper Ridge East - This permit is...,SIGNATURE COMPANIES LLC,3523966.0
4825,4/13/2020,Permit-CB-160324-2019,220,S SPRING AVE,Commercial Building,"Irving Center Apartments -- 3 story, 35 units",LLOYD CONSTRUCTION COMPANY,3441463.0
5897,3/18/2020,Permit-CB-158107-2019,6810,S MINNESOTA AVE,Commercial Building,American State Bank Office Building,LLOYD CONSTRUCTION COMPANY,3250000.0

### Finding the top builders of 2020 (thru June), by activity and combined value

First by activity...

In [8]:
#use dropna to clear out empty cells

In [9]:
permits2020 = permits_2020.dropna()

In [10]:
permits2020.Contractor.value_counts().reset_index().head()

                                    index  Contractor
0          FRISBEES PLUMBING INC, PLU# 34         209
1        FRISBEES MECHANICAL INC, MCL# 34         206
2  AMERICAN FENCE COMPANY OF SOUTH DAKOTA         163
3               SORLIEN ELECTRIC, ELC# 70         144
4                          MICHAELS FENCE         127

Then by combined value...

In [11]:
permits2020.groupby("Contractor").Value.sum().reset_index().sort_values("Value", ascending = False)

                                             Contractor       Value
1310                         LLOYD CONSTRUCTION COMPANY  24894422.0
1892                            SIGNATURE COMPANIES LLC  17850109.0
1631                             PESKA CONSTRUCTION INC  15560000.0
696                                    EMPIRE HOMES LLC  12357477.0
1717  REYNOLDS CONSTRUCTION MANAGEMENT SERVICES INC ...  12240242.0
...                                                 ...         ...
1363                                   MARILU FERNANDEZ         0.0
1364                                     MARILYN KNURCK         0.0
1370                                     MARK GROENEWEG         0.0
1375                                        MARK SOMERS         0.0
2194                               ZOOMFIX LLP, FPC# 11         0.0

[2195 rows x 2 columns]

In [12]:
#creating a new variable for Contractor table

In [13]:
#using it to show top 7

In [14]:
top_contractors = permits2020.groupby("Contractor").Value.sum().reset_index().sort_values("Value", ascending = False)

In [18]:
top_contractors.head(7)

                                             Contractor       Value
1310                         LLOYD CONSTRUCTION COMPANY  24894422.0
1892                            SIGNATURE COMPANIES LLC  17850109.0
1631                             PESKA CONSTRUCTION INC  15560000.0
696                                    EMPIRE HOMES LLC  12357477.0
1717  REYNOLDS CONSTRUCTION MANAGEMENT SERVICES INC ...  12240242.0
1221                                KN CONSTRUCTION INC  11923955.0
700                                    EQUITY HOMES INC  11037829.0

### Isolating data about Lloyd Cos, top contractor by value (thru June)

In [19]:
lloydpermits = permits2020[permits2020.Contractor.str.contains('lloyd', case = False)]

In [22]:
lloyd = lloydpermits.sort_values('Value', ascending = False)

In [24]:
lloyd.head(10)

,Date,PermitNumber,HouseNumber,Street,Type,Description,Contractor,Value
7681,1/31/2020,Permit-CB-153774-2019,1500,S HIGHLINE AVE,Commercial Building,Capital Services,LLOYD CONSTRUCTION COMPANY,8800000.0
4825,4/13/2020,Permit-CB-160324-2019,220,S SPRING AVE,Commercial Building,"Irving Center Apartments -- 3 story, 35 units",LLOYD CONSTRUCTION COMPANY,3441463.0
5897,3/18/2020,Permit-CB-158107-2019,6810,S MINNESOTA AVE,Commercial Building,American State Bank Office Building,LLOYD CONSTRUCTION COMPANY,3250000.0
1822,6/4/2020,Permit-CB-170247-2020,701,N PHILLIPS AVE,Commercial Building,"Install pool, engineered retaining walls, perg...",LLOYD CONSTRUCTION COMPANY,1000000.0
5435,3/30/2020,ZON-162777-2020,4101,W 41ST ST,Zoning,"NEW PARKING LOT, LANDSCAPING & LIGHTING FOR NE...",LLOYD CONSTRUCTION COMPANY,916895.0
4080,4/28/2020,Permit-CB-166091-2020,4001,S HAWTHORNE AVE,Commercial Building,Continuum Transitional Housing - Two attached ...,LLOYD CONSTRUCTION COMPANY,850000.0
6168,3/12/2020,Permit-CB-161181-2020,2001,E 8TH ST,Commercial Building,Converting the school at School for the Deaf t...,LLOYD CONSTRUCTION COMPANY,800000.0
5351,4/1/2020,Permit-CB-160323-2019,512,N BAHNSON AVE,Commercial Building,1 of 6 new 2 story apartment buildings - 1 att...,LLOYD CONSTRUCTION COMPANY,750000.0
5346,4/1/2020,Permit-CB-165088-2020,500,N BAHNSON AVE,Commercial Building,2 of 6 new 2 story apartment buildings,LLOYD CONSTRUCTION COMPANY,705000.0
5347,4/1/2020,Permit-CB-165089-2020,524,N BAHNSON AVE,Commercial Building,3 of 6 new 2 story apartment buildings,LLOYD CONSTRUCTION COMPANY,705000.0

In [25]:
lloyd.Contractor.value_counts().reset_index().head()

                                               index  Contractor
0                         LLOYD CONSTRUCTION COMPANY          32
1  LLOYD CONSTRUCTION COMPANY/WILLOW PARTNERS LLC...           1
2                            CR LLOYD ASSOCIATES INC           1