# Sioux Falls building permits

A resource for importing and working with city building permit data from the city of Sioux Falls, available for free to all users on the City Hall website, siouxfalls.org.

In [1]:
import pandas as pd

### Import the data (up thru mid-year 2020)

In [2]:
#use 'r"C:\...' to convert to raw string

In [19]:
permits_2020 = pd.read_csv(r"C:\Users\panderson\OneDrive - Gannett Company, Incorporated\Desktop\City Building Permit Data\2020-city-building-permits.csv")

In [20]:
permits_2019 = pd.read_csv(r"C:\Users\panderson\OneDrive - Gannett Company, Incorporated\Desktop\City Building Permit Data\2019-city-building-permits.csv")

In [21]:

permits_2018 = pd.read_csv(r"C:\Users\panderson\OneDrive - Gannett Company, Incorporated\Desktop\City Building Permit Data\2018-city-building-permits.csv")

In [22]:

permits_2017 = pd.read_csv(r"C:\Users\panderson\OneDrive - Gannett Company, Incorporated\Desktop\City Building Permit Data\2017-city-building-permits.csv")

In [23]:
permits_2016 = pd.read_csv(r"C:\Users\panderson\OneDrive - Gannett Company, Incorporated\Desktop\City Building Permit Data\2016-city-building-permits.csv")

In [24]:

permits_2015 = pd.read_csv(r"C:\Users\panderson\OneDrive - Gannett Company, Incorporated\Desktop\City Building Permit Data\2015-city-building-permits.csv")

In [8]:
permits_2014 = pd.read_csv(r"C:\Users\panderson\OneDrive - Gannett Company, Incorporated\Desktop\City Building Permit Data\2014-city-building-permits.csv")

### Combining the tables

In [11]:
frames = [permits_2014, permits_2015, permits_2016, permits_2017, permits_2018, permits_2019]

In [12]:
#join with pd.concat

In [13]:
all_permits = pd.concat(frames)

In [14]:
all_permits.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77835 entries, 0 to 17416
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          77835 non-null  object
 1   PermitNumber  77835 non-null  object
 2   HouseNumber   77835 non-null  object
 3   Street        77835 non-null  object
 4   Type          77835 non-null  object
 5   Description   76956 non-null  object
 6   Contractor    77794 non-null  object
 7   Value         77835 non-null  float64
dtypes: float64(1), object(7)
memory usage: 3.3+ MB

In [16]:
all_permits.head()

,Date,PermitNumber,HouseNumber,Street,Type,Description,Contractor,Value
0,12/31/2014 0:00,FENCE-13651,709,S CLEARBROOK AVE,Fence,NaN,AIRWAY SERVICE INC - CHRIS BROADBENT,0.0
1,12/31/2014 0:00,FENCE-13749,8908,W STONEY CREEK ST,Fence,NaN,AMERICAN FENCE COMPANY OF SOUTH DAKOTA,0.0
2,12/31/2014 0:00,FENCE-13786,8809,W NIKITA DR,Fence,NaN,"FENCE GUY, THE",0.0
3,12/31/2014 0:00,FENCE-13850,8804,W 18TH ST,Fence,NaN,EMPIRE FENCE,0.0
4,12/31/2014 0:00,FENCE-13898,1207,S MONTICELLO CT,Fence,NaN,MICHAELS FENCE,0.0

In [17]:
#clear out empty cells with dropna

In [18]:
allpermits = all_permits.dropna()